@import "mixins";
@import "buttons";
@import "variables";

.login-form {
  height: 100%;
  padding: 50px 0;
  max-width: 324px;
  @include flex_container(space-between, column, center);

  &-top {
    gap: 20px;
    @include flex_container(space-between, column, center);

    &-title {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 20px;
    }

    &-subtitle {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--gray-3);
    }

    &-input {
      width: 324px;
      height: 51px;
      background-color: var(--gray);
      border-radius: 12px;
      border: none;
      padding-left: 22px;
      margin-top: 8px;
    }

    &-forgot {
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      color: var(--yellow-hover);
      border-bottom: 1px dashed var(--yellow-hover);
    }

    label {
      font-size: 10px;
      font-weight: 500;
      color: var(--gray-3);
      position: relative;
    }

    .warning {
      gap: 10px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 4px;
      @include flex_container(flex-start, row, center);
    }

    // .error {
    //   width: 100%;
    //   background-color: rgba(255, 242, 242, 1);
    //   color: rgba(245, 82, 82, 1);
    // }

    .password-warning {
      &-title {
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        color: var(--gray-3);
        padding-bottom: 8px;

        &-warnings {
          gap: 8px;
          flex-wrap: wrap;
          white-space: nowrap;
          @include flex_container(flex-start, row, center);

          .warning {
            color: var(--yellow);
            background-color: var(--yellow-light);

            .error {
              color: var(--gray-3);
            }
          }
        }
      }
    }
  }

  &-btns {
    gap: 8px;
    width: 100%;
    @include flex_container();

    .btn {
      &-light {
        width: 60px;
        height: 60px;
      }

      &-dark {
        width: 100%;
        height: 60px;
      }
    }

    .btn:disabled {
      cursor: default;
      background-color: var(--gray-3);
    }
  }

  .visibility-btn {
    width: 13px;
    height: 13px;
    bottom: 20px;
    right: 18px;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/icon/password-visible.svg");
  }

  .visibility-btn.hidden {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/icon/password-hidden.svg");
  }

  .login-policy {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-3);

    span {
      color: var(--yellow);
      cursor: pointer;
    }
  }
}

@media (max-width: $M) {
  .login-form {
    gap: 20px;
    padding: 30px 0;

    &-top {
      &-input {
        width: 280px;
      }
    }
  }
}
