.mySwiper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f3f3f3;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 200px;
  
      .slide-content {
        h3 {
          font-size: 18px;
          color: #333;
        }
      }
    }
  }
  