<h1 class="title">Term of Service</h1>
<div class="block">
  <h2>1. Preamble</h2>
  <p>
    1.1. Tentez OU (hereinafter referred to as the Operator) operates the
    website RestoEdit.app, a web-based application for editing photos. These
    Terms of Use apply to all users of the platform RestoEdit.app (hereinafter:
    the User).
  </p>
</div>
<div class="block">
  <h2>2. Rights of use</h2>
  <ul class="list">
    <li>
      2.1. By giving consent, the User agrees that the Operator may store the
      User’s IP address to verify extensive use of the Platform.
    </li>
    <li>2.2. Your Content</li>
    <li>
      2.2.1. Content. “Content” means any text, information, communication, or
      material, such as audio files, video files, electronic documents, or
      images, that you upload, import into, embed for use by, or create using
      the Services and Software. Tentez OU reserves the right (but do not have
      the obligation) to remove Content or restrict access to Content, Services,
      and Software if any of your Content is found to be in violation of the
      Terms. Tentez OU does not review all Content uploaded to the Services and
      Software, but Tentez OU may use available technologies, vendors, or
      processes to screen for certain types of illegal content (for example,
      child pornography) or other abusive content or behavior (for example,
      patterns of activity that indicate spam or phishing, or keywords that
      indicate adult content has been posted outside of the adult wall)
    </li>
    <li>
      2.2.2. Licenses to Your Content. Solely for the purposes of operating or
      improving the Services and Software, you grant us a non-exclusive,
      worldwide, royalty-free sublicensable, license, to use, reproduce,
      publicly display, distribute, modify, create derivative works based on,
      publicly perform, and translate the Content. For example, Tentez OU may
      sublicense our right to the Content to our service providers or to other
      users to allow the Services and Software to operate as intended, such as
      enabling you to share photos with others. Separately, section 4.5
      (Feedback) below covers any Feedback that you provide to us.
    </li>
    <li>
      2.2.3. Ownership. As between you and RestoEdit.app, you (as a Business
      User or a Personal User, as applicable) retain all rights and ownership of
      your Content (or where applicable, you must ensure that you or the
      Business (as applicable) have a valid license to the Content). Tentez OU
      does not claim any ownership rights to your Content.
    </li>
    <li class="list">
      <p>2.2.4. Sharing Your Content.</p>
      <p>
        (A) Sharing. Some Services and Software may provide features that allow
        you to Share your Content with other users or to make it public. “Share”
        means to email, post, transmit, stream, upload, or otherwise make
        available (whether to us or other users) through your use of the
        Services and Software. Other users may use, copy, modify, or re-share
        your Content in many ways. Please carefully consider what you choose to
        Share or make public as you are responsible for the Content that you
        Share.
      </p>
      <p>
        (B) Level of Access. Tentez OU does not monitor or control what others
        do with your Content. You are responsible for determining the
        limitations that are placed on your Content and for applying the
        appropriate level of access to your Content. If you do not choose the
        access level to apply to your Content, the system may default to its
        most permissive setting. It is your responsibility to let other users
        know how your Content may be Shared and to adjust the setting related to
        accessing or Sharing your Content.
      </p>
      <p>
        (C) Comments. Any comments that you submit through the Services and
        Software are not anonymous and may be viewed by other users. In some
        Services and Software, your comments may be deleted by you, by other
        users, or by us.
      </p>
      <p>
        (D) Removing Your Content. If you delete Content (excluding Feedback)
        from the Services and Software, Tentez OU will stop making that Content
        publicly available within a reasonable amount of time. Some copies of
        your Content may be retained as part of our routine backups, and Tentez
        OU is not responsible for any use of Content that you have Shared or
        made public.
      </p>
    </li>
  </ul>
</div>
<div class="block">
  <h2>3. Rights and obligations of the User</h2>
  <ul class="list">
    <li>
      3.1. The User undertakes to refrain from any actions that endanger the
      functionality or operation of the software. In particular, the User is
      prohibited from carrying out any actions that scan or test weak points of
      the software, bypass security systems or access systems of the software or
      integrate malware into the software.
    </li>
    <li>
      3.2. The User guarantees that he has all the necessary rights (such as
      copyright, ancillary copyright, industrial property rights, trademark
      rights) for processing the uploaded photos.
    </li>
  </ul>
</div>
<div class="block">
  <h2>4. Warranty and liability</h2>
  <ul class="list">
    <li>
      4.1. Any warranty for the results of the software and its availability is
      excluded. If, nevertheless, a warranty claim should exist, the warranty
      period is six months.
    </li>
    <li>
      4.2. The Operator is not liable for the speed of the Software, its
      Availability, data loss or the correctness of the results. In addition,
      the liability of the Operator is excluded unless the damage has been
      caused intentionally or through gross negligence. This does not apply in
      cases of loss of life or damage to the health of a person.
    </li>
    <li>
      4.3. The liability of the Operator is in any case limited to EUR 100.00.
    </li>
    <li>
      4.4. Termination: RestoEdit reserves the right, without notice and without
      liability, to suspend and/or terminate this Agreement at any time, whether
      for cause (for example if you breach this Agreement) or for convenience
      (for example if RestoEdit is discontinuing Services). Tentez OU reserves
      the right to modify, temporarily suspend or permanently delete your
      Account and terminate your access to the Services if Tentez OU has reason
      to believe that you have breached or acted inconsistently with the Terms.
      Following termination, your License will be automatically revoked and
      Tentez OU reserves the right to delete your Account, erase all or any
      information on your Profile and discard any of your User Content. You
      agree that Tentez OU shall not be liable to you for any modification or
      discontinuance of the Service. Tentez OU accepts no liability for deletion
      of information or content from your Profile. You acknowledge and accept
      that certain User Content may remain after the termination of your Account
      and that the User Content License shall not be revoked or terminated. If
      you have an active subscription when Tentez OU terminates your Account,
      you will not receive a refund for any time remaining on your subscription.
    </li>
    <li>
      4.5. RestoEdit Pro subscription: RestoEdit Pro is not available across
      multiple platforms at the moment, which means that your professional
      access on RestoEdit.app website does not apply to professional access on
      RestoEdit iOS and Android applications.
    </li>
  </ul>
</div>
<div class="block">
  <h2>5. Confidentiality and data protection</h2>
  <p>
    5.1. All data protection information is available to the User at
    <a href="/privacy-policy">ai-restovration.com/privacy-policy</a>.
  </p>
</div>
<div class="block">
  <h2>6. Concluding provisions</h2>
  <ul class="list">
    <li>
      6.1. Legal disputes arising from this Contract are governed exclusively by
      Austrian law. Application of the UN Convention for the International Sale
      of Goods, the referral standards of the IPRG and the Regulation (EC) no.
      593/2008 of the European Parliament and of the Council of June 17, 2008 on
      the law applicable to contractual obligations (Rome I Regulation) is
      excluded.
    </li>
    <li>
      6.2. The exclusive jurisdiction for disputes arising out of or in
      connection with this contract shall be the competent court in Vienna-Inner
      City, Austria.
    </li>
    <li>
      6.3. Changes and/or additions to this Contract must be made in writing to
      be valid; written form is also required for departure from this formal
      requirement.
    </li>
    <li>
      6.4. Should individual provisions of this Contract be void, unenforceable
      and/or invalid, this shall not result in the invalidity, unenforceability
      and/or invalidity of the entire Contract. In this case, the contracting
      parties undertake to agree on a provision which is as close as possible
      economically to the purpose pursued by the void, unenforceable and/or
      invalid provision to replace the void, unenforceable and/or invalid
      provision.
    </li>
    <li>
      6.5. If these Terms of Service are presented by the Operator in a language
      other than German, the translation was prepared by an independent
      specialist translator certified to ISO 17100:2015 and proofread by at
      least one other specialist translator. If, in the case of dispute, a court
      insists on a German-language contract text, then only the original
      German-language contract text shall be valid; under no circumstances shall
      a retranslation of the translated version be used.
    </li>
  </ul>
</div>
<div class="block">
  <h2>7. Cancellation of Subscription and Account Deletion</h2>
  <ul class="list">
    <li>
      7.1 Cancellation of Subscription You can cancel Your subscription to the
      Paid Services at any time, and You will continue to have access to the
      Paid Services through the end of Your billing period. To the extent
      permitted by the applicable law, payments are non-refundable, and Tentez
      OU does not provide refunds for any unused Paid Services. For cancellation
      purposes, You may cancel Your subscription by going to "My Account" and
      following the instructions as stated therein.
    </li>
    <li>
      7.2 Account Deletion You may also delete Your account by contacting us at
      contact&#64;silverai.com. Upon the closure of Your Account and under Your
      specific instruction for data erasure, Tentez OU shall take all reasonable
      efforts to erase all data related to Your Account. Tentez OU reserves the
      right to retain any data necessary under the applicable laws. Upon
      cancellation or discontinuance of Your subscription and account, You may
      continue to use any work previously produced, created or reproduced by You
      via the Services as of the date of cancellation or discontinuance,
      provided always that such use must be in compliance with these Terms of
      Use, the Licensing Agreement and any other relevant licensing agreements
      as may be imposed by us from time to time.
    </li>
  </ul>
</div>
<div class="block">
  <div class="block">
    <h2>8. API fair use policy</h2>
    <p>
      This API acceptable use policy sets out the terms that apply when you use,
      make contact with or interact with our API in any way..
    </p>
  </div>
  <div class="block">
    <h2>8.1. Acceptance of Terms</h2>
    <ul class="list list-style">
      <li>
        By using our API you accept these terms By using our API, you confirm
        that you accept the terms of this policy and that you agree to comply
        with them. If you do not agree to these terms, you must not use our API.
        Tentez OU recommends that you print a copy of these terms for future
        reference.
      </li>
      <li>
        There are other terms that may apply to you Additional terms, including
        license terms, may apply to your use of our software and API, including
        as may be set out in any other agreement with us.
      </li>
      <li>
        Tentez OU may make changes to the terms of this policy Tentez OU amends
        these terms from time to time without notice. Every time you wish to use
        our API, please check these terms to ensure you understand the terms
        that apply at that time. These terms were most recently updated on the
        date stated at the front of these terms.
      </li>
    </ul>
  </div>
  <div class="block">
    <h2>8.2. Fair Use</h2>
    <ul class="list list-style">
      <li>
        For the benefit of all users of our API it is imperative that users
        adhere to fair and reasonable use of the API to seek to prevent
        downtime, loss of or corruption or damage to data and/or other errors or
        technical issues.
      </li>
      <li>
        Use of the API must be limited to a reasonable number of concurrent
        calls (API requests), together with an appropriate wait period for
        completion of those calls before commencing further calls. Tentez OU may
        specify a specific number of call limits from time to time, to which you
        will be required to adhere.
      </li>
      <li>
        In the event that you receive error reports or error codes from use of
        our API you must immediately notify us, and reduce your usage of the API
        appropriately.
      </li>
      <li>
        Keys: The API may require a key to run or access. You are responsible
        for and liable for the installation and use of keys and must not copy or
        share the keys with third parties.
      </li>
    </ul>
  </div>
  <div class="block">
    <h2>8.3. Consequences of misuse</h2>
    <ul class="list list-style">
      <li>
        Without prejudice to any other rights Tentez OU may have, in the event
        of your failure to adhere to the fair usage set out above, or any other
        failure to adhere to the terms of this API policy:
      </li>
      <li>
        You shall be responsible for and shall indemnify us against all costs,
        losses, liabilities, damages, claims and expenses suffered or incurred
        by us or any member of our group, arising directly or indirectly out of
        or connected to your breach, including but not limited to any of the
        aforesaid costs, losses, liabilities, damages, claims and expenses
        relating to damage to or destruction or corruption of data; and
      </li>
      <li>
        Tentez OU shall be entitled (without notice) to suspend, modify,
        restrict or otherwise limit your use of the API.
      </li>
      <li>
        Tentez OU may monitor your use of the API including to verify compliance
        with this policy.
      </li>
      <li>
        You shall permit us and/or our representatives to perform such audit
        and/or verification of your use of the API and to inspect and have
        access to your premises and/or systems or information as reasonably
        required by us in connection with your use of the API.
      </li>
    </ul>
  </div>
  <div class="block list-style">
    <h2>8.4. Prohibited Uses</h2>
    <ul class="list list-style">
      <li>
        You may use our API only for lawful purposes. You may not use our API:
      </li>
      <li>
        In any way that breaches any applicable local, national or international
        law or regulation.
      </li>
      <li>
        In any way that is unlawful or fraudulent or has any unlawful or
        fraudulent purpose or effect.
      </li>
      <li>
        To transmit, or procure the sending of, any unsolicited or unauthorized
        advertising or promotional material or any other form of similar
        solicitation (spam).
      </li>
      <li>
        To knowingly transmit any data, send or upload any material that
        contains viruses, Trojan horses, worms, time-bombs, keystroke loggers,
        spyware, adware or any other harmful programs or similar computer code
        designed to adversely affect the operation of any computer software or
        hardware.You also agree:
      </li>
      <li>
        Not to reproduce, duplicate, copy or re-sell any part of our API; except
        to the extent permitted by law, not to decompile, reverse engineer,
        disassemble or otherwise derive the source code of any part of the API;
      </li>
      <li>
        Not to access without authority, interfere with, damage or disrupt: any
        part of our API; any equipment or network on which our API is stored; or
        any software used in the provision of our API.
      </li>
    </ul>
  </div>
  <div class="block">
    <h2>8.5. API provision</h2>
    <ul class="list list-style">
      <li>
        Tentez OU reserves the right (without liability to you or any other
        person) to modify, amend, alter or otherwise deal in any manner with the
        API, and Tentez OU does not guarantee that the API will continue to be
        available for use.
      </li>
      <li>
        Tentez OU may discontinue or suspend the provision of the API at any
        time without notice, and at our discretion, without liability to you or
        any other person.
      </li>
      <li>
        To the fullest extent permitted by law, the API is provided and made
        available “as is”, and express terms of this policy are in lieu of all
        other conditions, warranties or other terms which might have effect
        between the parties or be implied or incorporated whether by statute,
        common law or otherwise, which are hereby excluded.
      </li>
      <li>
        Tentez OU can transfer our rights and obligations under these terms to
        any third party.
      </li>
    </ul>
  </div>
</div>
