@import "mixins";
@import "buttons";

.password-form {
  height: 100%;
  max-width: 324px;
  @include flex_container(space-between, column, center);

  &-top {
    gap: 20px;
    @include flex_container(space-between, column, center);

    &-title {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 20px;
    }

    &-danger {
      gap: 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      padding: 4px;
      width: 100%;
      color: rgba(245, 82, 82, 1);
      background-color: rgba(255, 242, 242, 1);
      @include flex_container(flex-start, row, center);
    }

    &-input {
      width: 324px;
      height: 51px;
      background-color: var(--gray);
      border-radius: 12px;
      border: none;
      padding-left: 22px;
      margin-top: 8px;
    }

    label {
      font-size: 10px;
      font-weight: 500;
      color: var(--gray-3);
      position: relative;
    }

    .warning {
      gap: 10px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      border-radius: 4px;
      @include flex_container(flex-start, row, center);
    }

    &-match {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      color: var(--gray-3);
    }

    .password-warning {
      &-title {
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        color: var(--gray-3);
        padding-bottom: 8px;

        &-warnings {
          gap: 8px;
          flex-wrap: wrap;
          white-space: nowrap;
          @include flex_container(flex-start, row, center);

          .warning {
            color: var(--yellow);
            background-color: var(--yellow-light);

            .error {
              color: var(--gray-3);
            }
          }
        }
      }
    }
  }

  .btn {
    &-dark {
      width: 100%;
      height: 60px;
    }
  }

  .btn:disabled {
    background-color: var(--gray-3);
    cursor: default;
  }

  .visibility-btn {
    width: 13px;
    height: 13px;
    bottom: 20px;
    right: 18px;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/icon/password-visible.svg");
  }

  .visibility-btn.hidden {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/icon/password-hidden.svg");
  }

  .login-policy {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-3);

    span {
      color: var(--yellow);
      cursor: pointer;
    }
  }
}

.loader {
  background-color: rgba(0, 0, 0, 0.32);
  position: absolute;
  width: 100%;
  height: 100%;
  @include flex_container(center, row, center);
}
