<app-auth-cover>
  <div class="password-form">
    <form class="password-form-top" [formGroup]="form">
      <p class="password-form-top-title">Create new password</p>
      <!-- <div class="password-form-top-danger">
        <img src="icon/danger-circle.svg" alt="error" width="14" height="15" />
        <p>You can’t set a password you’ve already used</p>
      </div> -->
      <label
        >Your password<br /><input
          formControlName="password"
          class="password-form-top-input"
          [type]="isPasswordHidden() ? 'password' : 'text'"
          placeholder="Password"
        />
        <div
          class="visibility-btn"
          (click)="toggleVisibility()"
          [class.hidden]="isPasswordHidden()"
        ></div>
      </label>
      <label
        >Retype password<br /><input
          formControlName="confirmPassword"
          class="password-form-top-input"
          [type]="isPasswordHidden() ? 'password' : 'text'"
          placeholder="Password"
        />
        <div
          class="visibility-btn"
          (click)="toggleVisibility()"
          [class.hidden]="isPasswordHidden()"
        ></div>
      </label>
      <p class="password-form-top-match">Passwords don’t match</p>
      <div class="password-warning">
        <p class="password-warning-title">Your password must have:</p>
        <div class="password-warning-title-warnings">
          <div class="warning">
            @let errLength =
              form.controls.password.hasError("minlength") ||
              form.controls.password.hasError("required");
            <img
              [src]="errLength ? 'icon/check-error.svg' : 'icon/check.svg'"
              alt="error"
              width="14"
              height="15"
            />
            <p [class.error]="errLength">8 characters</p>
          </div>
          <div class="warning">
            @let errLetter = form.controls.password.hasError("letter");
            <img
              [src]="errLetter ? 'icon/check-error.svg' : 'icon/check.svg'"
              alt="error"
              width="14"
              height="15"
            />
            <p [class.error]="errLetter">High letter</p>
          </div>
          <div class="warning">
            @let errNumber = form.controls.password.hasError("number");
            <img
              [src]="errNumber ? 'icon/check-error.svg' : 'icon/check.svg'"
              alt="error"
              width="14"
              height="15"
            />
            <p [class.error]="errNumber">One number</p>
          </div>
        </div>
      </div>
      <button
        class="btn btn-dark"
        [disabled]="form.invalid"
        (click)="resetPassword()"
      >
        Send
      </button>
    </form>
  </div>
</app-auth-cover>

@if (loading()) {
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
}
