<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-left">
      <div class="footer-content-left-logo">
        <img src="icon/logo.svg" alt="logo" />
        <p>Restore</p>
      </div>
      <p class="footer-content-left-title">
        Remove object faster & better with powerful AI technology
      </p>
    </div>
    <div class="footer-content-buttons">
      <button class="btn btn-dark" (click)="navigate()">Start restorer</button>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      Tentez OU<br />Registration number: 16407198<br />Registration address:
      Harju maakond, Tallinn, Kesklinna linnaosa,<br />Vesivärava tn 50-201,
      10152
    </p>
    <div class="footer-bottom-policy">
      <a routerLink="privacy-policy">Privacy Policy</a>
      <a routerLink="terms-of-service">Terms of service</a>
    </div>
  </div>
</footer>
