<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-left">
      <div class="footer-content-left-logo">
        <img src="icon/swapper/Logo.svg" alt="logo" />
      </div>
      <p class="footer-content-left-title">
        Swap face faster & better with powerful AI technology
      </p>
    </div>
    <div class="footer-content-buttons">
      <button class="btn btn-gray" (click)="navigate()">Login</button>
      <button class="btn btn-green" (click)="navigate()">Start restorer</button>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      2024 RestoTeam. All rights reserved.
    </p>
    <div class="footer-bottom-policy">
      <a routerLink="privacy-policy">Privacy Policy</a>
      <a routerLink="terms-of-service">Terms of service</a>
    </div>
  </div>
</footer>
